version: "3.9"
services:
  web:
    build: .
    container_name: openmahalla-web
    command: >
      bash -c "
        python3 manage.py migrate &&
        python3 manage.py collectstatic --no-input &&
        gunicorn config.wsgi:application --bind 0.0.0.0:8001 --workers 1 --timeout 300 --log-level DEBUG
      "
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    env_file:
      - .env
    expose:
      - "8001"

  rabbitmq:
    image: rabbitmq:management

  redis:
    image: redis:latest

  celery:
    build: .
    command: celery -A config worker --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - rabbitmq
      - redis
    env_file:
      - ./.env

volumes:
  static_volume: