version: "3.9"
services:
  web:
    build: .
    container_name: openmahalla-web
    command: >
      bash -c "
        python3 manage.py migrate &&
        python3 manage.py collectstatic --no-input &&
        gunicorn config.wsgi:application --bind 0.0.0.0:8000 --workers 1 --timeout 300 --log-level DEBUG
      "
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    env_file:
      - .env
    ports:
      - "8001:8000"
    depends_on:
      - db

  db:
    image: postgres
    container_name: openmahalla-db
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  static_volume: